/*********************************** 
Stlyes header section (logo)
************************************/

.header {
    background-color: #51314d;
    margin-top: 10px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

/*********************************
Stles unordered list (navigation)
**********************************/

.nav {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #51314d;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.nav a,
.nav a:visited {
    display: block;
    color: white;
    width: 50%;
}

.nav a:active,
.nav a:focus,
.nav a:hover {
    color: #97bc61;
}

/*****************************************
Stles h1, img of macarons and "About our Bakery" paragraph
******************************************/

h1 {
    font-family: 'Cormorant Garamond', serif;
    background-color: #97bc61;
    color: white;
    padding: 15px;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
}

.macarons {
    width: 100%;
}